<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Contact</title>
</head>
<body>
    <div class="navbar">
        <a href="/"><i class="fa fa-fw-home"></i> Home</a>
        <div class="search-container">
            <form action="/search" method="get">
              <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
              <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
            </form>
          </div>
        <a class="active" href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="/login"><i class="fa fa-fw fa-user"></i> Login</a>
        <a href="/signUp"><i class="fa fa-address-book-o" aria-hidden="true"></i> Sign Up</a>
    </div>
    <section>
        <div>
            <h1 id="searchR">For questions please email: <br><u>myTravels@helpdesk.com</u></h1>
        </div>
    </section>
    <sidebar>
        <div class="fakeimg">
            <img class="disImg" src="https://github.com/lvaladez1/Projects/blob/main/apprenticeNowFinal/src/main/resources/static/images/THE-ENTRY-2.jpg?raw=true/"> 
        </div>  
    </sidebar>
    <br>
    <footer>
        <p>© 2022 Blue Slytherin</p>
    </footer>
</body>
</html>